<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ .Site.Params.Author }}">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ if .Description }}
    <meta name="description" content="{{ .Description }}">
    {{ else if .IsPage }}
    <meta name="description" content="{{ .Summary | plainify }}">
    {{ else }}
    <meta name="description" content="{{ .Site.Params.MetaDescription }}">
    {{ end }}

    <meta name="keywords" content=" {{ range .Params.tags }}{{.}},{{ end }}">
</head>

<body>
{{ partial "head_custom.html" . }}
