/* Variable declarations which are available to all styles. */
:root {
    /* The background of the page backdrop. */
    --page-bg-color: #dddada;
    /* The color of text on the backdrop. */
    --page-fg-color: #333;

    /* The background of the text areas of the page. */
    --main-bg-color: #fff9ca;
    /* The color of text on the text areas. */
    --main-fg-color: #000000;
    /* The color of deemphasized text. */
    --main-deemph-color: #ff00e3;

    /* The color used for borders and highlights. */
    --border-color: #FAA;
    /* The background used to encapsulate off-set text areas of the page. */
    --off-bg-color: #ff009c;

    /* The color used to set links apart from non-interactable text. */
    --link-color: #d00006;

    /* The distance between columns in grid layouts. */
    --grid-column-gap: 14px;
}

/* Rules applied to the whole visible content of the page. */
body {
    /* Basic body shaping. Nothing outside of a centered 800 scaled pixel column. */
    max-width: 1000px;
    margin: auto;

    /* Basic text color. From the color scheme variables used above. */
    color: var(--page-fg-color);
    background-color: var(--page-bg-color);
}

/* Applied to the textual content of the page, not including the navigational header
 * or information footer. */
main {
    /* Text color for the main content of the page. */
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);

    /* Browsers can add hyphens automagically, which is very helpful. */
    hyphens: auto;

    /* "Let it breathe." Text does not need to be jammed as close together as possible. */
    line-height: 1.4;

    /* Slightly higher font size means it's easier to read. */
    /* Setting a pt value here means other adjustments are made in scale. */
    font-size: 12pt;

    /* Layout for the primary text content.*/
    padding: 28px;
}

/* Basic shape of the navigational header and informational footer. */
header, footer {
    border-radius: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Text alignment for footer. */
footer {
    text-align: center;
}

/* Applied to li items in the header, placing primary navigation on the left. */
header li.main-nav-item {
    float: left
}

/* Applied to li items in the header, placing feed navigation on the right. */
header li.feed-nav-item {
    float: right
}

/* Styling for the main block at the top of the index. */
.name-and-title {
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 1.75em;
}

/* Styling for the first paragraph introducing the site. */
.intro-paragraph {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.3em;
    text-align: center;
}

.intro-paragraph p {
    margin: 0;
}

/* Link styling. All links get the same color. When hovering, they get an underline. */
a,
a:visited,
a:hover { color: var(--link-color) }
a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* Applied to article metadata, including the TOC. */
.article-meta, .menu a {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

/* Top level titles get some extra space around them, so they stand out more. */
.article-meta h1 {
    line-height: 1.2em;
}
/* Applied to the Hugo-generated Table of Contents.
 * To get a TOC, the following is added to the YAML.

output:
  blogdown::html_page:
    toc: true

*/

#TableOfContents, #TOC {
    border: 1px solid var(--border-color);
    border-radius: 3px;
    background-color: var(--off-bg-color);
    margin: 15px;
    float: left;
    min-width: 40%;
    padding-right: 10px;
    display: inline-block;
}

/* Aligns the article metadata (title, date, author) in the center */
.menu, .article-meta { text-align: center; }

/* Header navigational section. */
header nav {
    /* Pad the left and right sides very slightly. */
    padding: 0px 5px;
    /* Keep the lower div from overwhelming the menu. */
    overflow: hidden;
}

/* A list is used in the header to place all the navigational elements in a logical
 * order, but for the styled page, no spacing or bullets are needed. Lists also
 * assume a certain padding to the left (indentation) and margin at the top, which
 * are not needed in this case. */
header ul,
header ol {
    margin: 0;
    padding: 0;
    list-style: none
}

/* Each link needs a small area around it, to clear other links and prevent them from
 * being crowded. */
header a { padding: 0px 2px; }

/* Code Boxes */
pre {
    border: 1px solid var(--border-color);
    margin: 12px;
    padding: 1px;
    overflow-x: auto;
    border-radius: 3px;
}
code {
    padding: 0px;
    border-radius: 2px;
}
pre code { background: none; }

/* Images, tables, etc are centrally aligned. */
img, iframe, video {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Some images shouldn't be centered. */
img.inline {
    display: inline;
    margin-left: none;
    margin-right: none;
}

/* Block quotes (used in summaries, etc) have some emphasis added. */
blockquote {
    /* A bar to the left of each quote. */
    border-left: 5px solid var(--border-color);
    /* An offset background. */
    background: var(--off-bg-color);
    /* Basic outstanding layout. */
    padding: 3px 1em 3px;
    margin: 12px;
    border-radius: 3px;
}

/* Styling for the list of posts on list pages. */
ul.postsList {
    list-style: "✏ " outside;
}

ul.postsList li {
    margin-bottom: 4px;
}

.postDescription {
    padding-left: 16px;
    color: var(--main-deemph-color);
}

/* pagination */
.pagination li {
    display: inline;
    list-style: none;
}
ul.pagination {
    padding: none;
}

/* Pretty styling for tables. */
table {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #444444; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #444444 }

/* Layout for front page grid.
 * Uses @media queries to collapse on mobile.
 */

.info-container {
    display: grid;
    grid-gap: var(--grid-column-gap);
    grid-auto-rows: minmax(100px, auto);

    /* Keep the text off the side on the index page. */
    padding: 0px var(--grid-column-gap);
}

@media (orientation: landscape) {
    .info-container {
        grid-template-columns: 50% 50%;
    }
}

@media (orientation: portrait) {
    .info-container {
        grid-template-columns: 100%;
    }
}

